<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.EliminateDao">
	<resultMap type="Eliminate" id="eliminateMap">
		<id column="id" property="id" />
		<result column="taskId" property="taskId" />
		<result column="workBills" property="workBills" />
		<result column="mId" property="mId" />
		<result column="remark" property="remark" />
		<result column="taskcoding" property="taskcoding" />
		<result column="taskName" property="taskName" />
		<result column="xiafaMan" property="xiafaMan" />
		<result column="xiafaDate" property="xiafaDate" />
		<result column="taskStatus" property="taskStatus" />
		<result column="wancdate" property="wancdate" />
		<result column="flag" property="flag" />
		<result column="actualDate" property="actualDate" />
		<association property="task" javaType="Task" column="taskId">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="xiafaid" property="taskMan" />
			<result column="type" property="type" />
			<result column="coding" property="coding" />
			<result column="state" property="state" />
			<result column="date" property="date" />
			<result column="actualDate" property="actualDate" />
			<result column="predictDate" property="predictDate" />
			<result column="description" property="description" />
			<result column="delete_flag" property="delete_flag" />
			<result column="remark" property="remark" />
			<association property="user" javaType="User" column="taskMan">
				<id column="id" property="id" />
				<result column="name" property="name" />
			</association>
		</association>
	</resultMap>
	<resultMap type="Systemparam" id="SystemparamMap">
		<id column="id" property="id" />
		<result column="settingId" property="settingId" />
		<result column="settingName" property="settingName" />
	</resultMap>
	<select id="getAllTask" resultMap="eliminateMap" parameterType="java.util.Map">
		select e.id,e.mid,e.taskId,t.coding as taskcoding,t.name as
		taskName,e.workBills,t.id,t.taskMan
		xiafaid,
		u.name as xiafaMan,t.date
		as xiafaDate,p.settingName as taskStatus,t.actualDate as
		wancdate,t.delete_flag,t.type,t.predictDate,t.remark,t.delete_flag as
		flag
		from t_eliminate e,t_task t,t_user u,t_systemparam p where e.taskId=t.id 
        and t.taskMan=u.id and p.id=t.state
		limit #{pageIndex},#{pageSize}
	</select>
	<select id="getCount" resultType="int">
		select count(1)
		from t_eliminate
		e,t_task t,t_user u where e.taskId=t.id
		and e.mId=u.id
	</select>
	<select id="getAllBills" resultMap="SystemparamMap" parameterType="java.lang.String">
		SELECT id,settingId,settingName
		FROM t_systemparam where
		settingid = (select id FROM t_systemsetting
		WHERE coding=#{coding} AND
		delete_flag='否' AND state='启用')
	</select>
	<select id="getAllLineUser" resultType="User">
		select id,name from t_user u where u.id in(select userId from t_user_role
		where roleId =3)
	</select>
	<select id="getAlleliminateUser" resultType="User">
	select id,name from t_user u where u.id in(select userId from t_user_role
		where roleId =2)
	</select>
	<select id="getAllUserEliminate" resultType="User" parameterType="int">
	select id,name from t_user where id=#{0}
	</select>
	<update id="updateTaskstatus" parameterType="int">
	update t_task set state=8 where id in (select taskId from t_eliminate where id=#{0})
	</update>
</mapper>