<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.EliminateDao">
	<resultMap type="Eliminate" id="eliminateMap">
		<id column="id" property="id" />
		<result column="taskId" property="taskId" />
		<result column="workBills" property="workBills" />
		<result column="mId" property="mId" />
		<result column="remark" property="remark" />
		<result column="taskcoding" property="taskcoding" />
		<result column="taskName" property="taskName" />
		<result column="xiafaMan" property="xiafaMan" />
		<result column="xiafaDate" property="xiafaDate" />
		<result column="taskStatus" property="taskStatus" />
		<result column="wancdate" property="wancdate" />
		<result column="flag" property="flag" />
		<result column="actualDate" property="actualDate" />
		<association property="task" javaType="Task" column="taskId">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="xiafaid" property="taskMan" />
			<result column="type" property="type" />
			<result column="coding" property="coding" />
			<result column="state" property="state" />
			<result column="date" property="date" />
			<result column="actualDate" property="actualDate" />
			<result column="predictDate" property="predictDate" />
			<result column="description" property="description" />
			<result column="delete_flag" property="delete_flag" />
			<result column="remark" property="remark" />
			<association property="user" javaType="User" column="taskMan">
				<id column="id" property="id" />
				<result column="name" property="name" />
			</association>
		</association>
	</resultMap>
	<resultMap type="Systemparam" id="SystemparamMap">
		<id column="id" property="id" />
		<result column="settingId" property="settingId" />
		<result column="settingName" property="settingName" />
	</resultMap>
	<resultMap type="com.znsd.circuit.util.MyFlaw" id="MyFlawMap">
		<id column="id" property="id" />
		<result column="flawDesc" property="flawDesc" />
		<result column="coding" property="towerCoding" />
		<result column="threadCoding" property="threadCoding" />
		<result column="name" property="findUser" />
		<result column="settingName" property="flawGrade" />
		<result column="discoverDate" property="findDate" />
		<result column="flawType" property="flawType" />
	</resultMap>
	<select id="getAllTask" resultMap="eliminateMap" parameterType="java.util.Map">
		select DISTINCT ins.userId,e.id,e.mid,e.taskId,t.coding as
		taskcoding,t.name as
		taskName,e.workBills,t.id,t.taskMan
		xiafaid,
		u.name
		as xiafaMan,t.date
		as xiafaDate,p.settingName as
		taskStatus,t.actualDate as
		wancdate,t.delete_flag,t.type,t.predictDate,t.remark,t.delete_flag as
		flag
		from t_eliminate e left join t_flawstaff ins on
		e.id=ins.eliminateId
		left join t_task t on e.taskId=t.id
		left join
		t_user u on t.taskMan=u.id
		left join t_systemparam p on t.state=p.id
		where t.type='消缺任务'
		<!-- and p.id !=4 and p.id !=8 -->
		<if test="operate == 'flaw'">
			and t.state in (SELECT id FROM t_systemparam where
			settingid
			= (select
			id FROM t_systemsetting
			WHERE coding='Task_STATE'
			AND
			delete_flag='否'
			AND state='启用')
			)
			<if test="coding=='line_staff'">
				AND t.taskMan=#{userid} or e.mid=#{userid}
			</if>
			<!-- <if test="taskman=='taskman'"> and t.taskMan=#{userid} </if> -->

			<if test="coding=='es_flaw'">
				and ins.userId=#{userid}
			</if>
			and ins.isReceipter='是'
		</if>

		<if test="taskcoding!=null &amp;&amp; taskcoding!=''">
			and t.coding like #{taskcoding}
		</if>
		<if test="workbills!=null &amp;&amp;workbills!=''">
			and e.workBills like #{workbills}
		</if>
		<if test="taskstatus!=null &amp;&amp;taskstatus!=''">
			and p.settingName like #{taskstatus}
		</if>
		<if test="xiapeople!=null &amp;&amp;xiapeople!=''">
			and u.name like #{xiapeople}
		</if>
		<if test="startdate!=null &amp;&amp;startdate!=''">
			and t.date &gt; #{startdate}
		</if>
		<if test="enddate!=null &amp;&amp;enddate!=''">
			and t.date &lt; #{enddate}
		</if>
		ORDER BY t.date desc
		limit
		#{pageIndex},#{pageSize}
	</select>
	<select id="getCount" resultType="int" parameterType="java.util.Map">
		select count(1)
		from t_eliminate e left join t_flawstaff ins on
		e.id=ins.eliminateId
		left join t_task t on e.taskId=t.id
		left join
		t_user u on t.taskMan=u.id
		left join t_systemparam p on t.state=p.id
		where t.type='消缺任务'
		<!-- and p.id !=4 and p.id !=8 -->
		<if test="operate == 'eliminate'">
			and t.state in (SELECT id FROM t_systemparam where
			settingid
			= (select
			id FROM t_systemsetting
			WHERE coding='Task_STATE'
			AND
			delete_flag='否'
			AND state='启用'))
			<if test="coding=='line_staff'">
				AND e.mid=#{userid}
			</if>
			<!-- <if test="taskman=='taskman'"> and t.taskMan=#{userid} </if> -->
			<if test="coding=='es_flaw'">
				and ins.userId=#{userid}
			</if>
			and ins.isReceipter='是'
		</if>
		<if test="taskcoding!=null &amp;&amp; taskcoding!=''">
			and t.coding like #{taskcoding}
		</if>
		<if test="workbills!=null &amp;&amp;workbills!=''">
			and e.workBills like #{workbills}
		</if>
		<if test="taskstatus!=null &amp;&amp;taskstatus!=''">
			and p.settingName like #{taskstatus}
		</if>
		<if test="xiapeople!=null &amp;&amp;xiapeople!=''">
			and u.name like #{xiapeople}
		</if>
		<if test="startdate!=null &amp;&amp;startdate!=''">
			and t.date &gt;= #{startdate}
		</if>
		<if test="enddate!=null &amp;&amp;enddate!=''">
			and t.date &lt;= #{enddate}
		</if>
	</select>
	<select id="getAllBills" resultMap="SystemparamMap"
		parameterType="java.lang.String">
		SELECT id,settingId,settingName
		FROM t_systemparam where
		settingid = (select id FROM t_systemsetting
		WHERE coding=#{coding} AND
		delete_flag='否' AND state='启用')
	</select>
	<select id="getAllLineUser" resultType="User">
		select id,name from
		t_user u where u.id in(select userId from t_user_role
		where roleId =3)
	</select>
	<select id="getAlleliminateUser" resultType="User"
		parameterType="java.lang.String">
		<!-- select id,name from t_user u where u.id in(select userId from t_user_role 
			where roleId =2 and state=0) -->
		SELECT u.id,u.name,r.coding FROM t_user u
		LEFT JOIN t_user_role ur ON
		u.id=ur.userId
		left JOIN t_role r ON
		ur.roleId=r.id
		WHERE u.state='0' and
		r.coding=#{0}
	</select>
	<select id="getAllUserEliminate" resultType="User"
		parameterType="int">
		select id,name from t_user where id=#{0}
	</select>
	<update id="updateTaskstatus" parameterType="int">
		update t_task set
		state=8 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<select id="getAllMyFlaw" resultMap="MyFlawMap" parameterType="java.util.Map">
		select
		tf.id,tf.flawDesc,tw.coding,th.coding as
		threadCoding,tu.name,ts.settingName,tf.discoverDate,tfw.name as
		flawType
		from t_flawconfirm tf,t_tower tw,t_thread th,t_user
		tu,t_systemparam
		ts,t_flaw tfw
		where tf.id not in (select yetid from
		t_eliminate_record) and tf.towerId=tw.id and
		tf.threadId=th.id and
		tf.userId=tu.id and
		tf.flawGrade=ts.id and
		tf.flawId=tfw.id limit
		#{pageIndex},#{pageSize}
	</select>

	<select id="getCountByEliminate" resultType="int">
		select count(1)
		from
		t_flawconfirm tf,t_tower tw,t_thread th,t_user tu,t_systemparam
		ts,t_flaw tfw
		where tf.towerId=tw.id and tf.threadId=th.id and
		tf.userId=tu.id and
		tf.flawGrade=ts.id and tf.flawId=tfw.id
	</select>
	<select id="getAllMyFlawById" resultMap="MyFlawMap"
		parameterType="int">
		select
		tf.id,tf.flawDesc,tw.coding,th.coding as
		threadCoding,tu.name,ts.settingName,tf.discoverDate,tfw.name as
		flawType
		from t_flawconfirm tf,t_tower tw,t_thread th,t_user
		tu,t_systemparam
		ts,t_flaw tfw
		where tf.towerId=tw.id and
		tf.threadId=th.id and tf.userId=tu.id and
		tf.flawGrade=ts.id and
		tf.flawId=tfw.id and tf.id=#{0}
	</select>
	<insert id="insertTask" parameterType="java.util.Map">
		insert into
		t_task(name,taskMan,type,coding,state,date,description,createdBy,createdDate,updatedBy,updatedDate,remark)
		values(#{taskname},#{taskman},"消缺任务",#{taskcoding},#{status},#{date},#{taskDesc},#{taskman},#{time},#{taskman},#{time},#{taskRemark})
	</insert>
	<select id="selectTaskById" parameterType="java.lang.String"
		resultType="Task">
		select * from t_task where coding=#{0}
	</select>
	<insert id="insertEliminate" parameterType="Eliminate"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_eliminate(taskId,workBills,mId,remark)
		VALUES(#{taskId},#{workBills},#{mId},#{remark})
	</insert>
	<insert id="insertFlawStaff" parameterType="java.util.Map">
		insert into
		t_flawstaff(eliminateId,userId,isReceipter,createdBy,createdDate,updatedBy,updatedDate,remark)
		values(#{eid},#{userId},#{isReceipter},#{createBy},#{createDate},#{updatedBy},#{updateDate},'懒得加备注');
	</insert>
	<insert id="insertEliminateRecord" parameterType="java.util.Map">
		insert into
		t_eliminate_record(xtaskid,yetid) values(#{xtaskid},#{yetid})
	</insert>
	<delete id="deleteFlawStaff" parameterType="int">
		delete from
		t_flawstaff where eliminateId=#{0}
	</delete>
	<insert id="insertintoFlawStaff" parameterType="Flawstaff">
		insert into
		t_flawstaff(eliminateId,userId,isReceipter,createdBy,createdDate,
		updatedBy,updatedDate) values(#{eliminateId},#{userId},#{isReceipter},
		#{createdBy},#{createdDate},#{updatedBy},#{updatedDate})
	</insert>
	<select id="seeEliminateById" parameterType="int"
		resultType="com.znsd.circuit.util.SeeEliminate">
		select e.id,t.id as taskId,e.mid as taskfuzeId,t.coding as
		taskcoding,t.name as
		taskName,ts.settingName as taskStatus, e.workBills
		as taskBills,
		u.name as taskxiafaUser,e.mId as taskfuzeId,t.date as
		taskxiafaDate,t.actualDate as taskfinishDate,t.description as
		taskDesc, e.taskfuzeUserIdea as taskfuzeUserIdea,e.taskxiafaUserIdea
		as taskxiafaUserIdea,
		e.taskCompletionDesc as
		taskCompletionDesc,e.extensionRecord as extensionRecord,e.finalReport
		as finalReport,e.taskPassed as taskPassed
		from t_eliminate e,t_task
		t,t_user u,t_systemparam ts where
		e.taskId=t.id
		and t.taskMan=u.id and
		ts.id=t.state and e.id = #{0}
	</select>
	<select id="getAllUserId" parameterType="int" resultType="User">
		select
		id,name from t_user where id in( select DISTINCT tf.userId from
		t_flawstaff tf where tf.userId in (select userId from t_flawstaff
		where eliminateId=#{0}))
	</select>
	<select id="seeEliminateBytaskId" parameterType="int" resultMap="MyFlawMap">
		SELECT f.id, h.coding as threadCoding,w.coding as towerCoding,s.settingName
		as flawGrade
		,wa.`name` as flawType,f.discoverDate as
		findDate,f.flawDesc as flawDesc,tu.name as findUser
		FROM t_flawconfirm
		f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower
		w,t_systemparam s,t_flaw wa,t_user tu
		WHERE f.id=r.yetid AND
		r.xtaskid=e.taskId AND r.xtaskid=a.id AND
		h.id=f.threadId AND
		wa.id=f.flawId
		AND f.towerId=w.id AND s.id=f.flawGrade and
		f.userId=tu.id and
		r.xtaskid=#{0}
	</select>
	<select id="getAllTaskByCondition" parameterType="java.util.Map"
		resultMap="eliminateMap">
		select DISTINCT ins.userId,e.id,e.mid,e.taskId,t.coding as
		taskcoding,t.name as
		taskName,e.workBills,t.id,t.taskMan
		xiafaid,
		u.name
		as xiafaMan,t.date
		as xiafaDate,p.settingName as
		taskStatus,t.actualDate as
		wancdate,t.delete_flag,t.type,t.predictDate,t.remark,t.delete_flag as
		flag
		from t_eliminate e left join t_flawstaff ins on
		e.id=ins.eliminateId
		left join t_task t on e.taskId=t.id
		left join
		t_user u on t.taskMan=u.id
		left join t_systemparam p on t.state=p.id
		where t.type='消缺任务'
		<!-- and p.id !=4 and p.id !=8 -->
		<if test="operate == 'eliminate'">
			and t.state not in (SELECT id FROM t_systemparam where
			settingid
			=
			(select id FROM t_systemsetting
			WHERE coding='Task_STATE'
			AND
			delete_flag='否' AND state='启用')
			AND settingName='待分配' OR
			settingName='已取消')
			<if test="coding=='line_staff'">
				AND e.mid=#{userid}
			</if>
			<if test="coding=='es_flaw'">
				and ins.userId=#{userid}
			</if>
			and ins.isReceipter='是'
		</if>
		<if test="receipt_taskcoding!=null &amp;&amp; receipt_taskcoding!=''">
			and t.coding like #{receipt_taskcoding}
		</if>
		<if test="receipt_bills!=null &amp;&amp;receipt_bills!=''">
			and e.workBills = #{receipt_bills}
		</if>
		<if test="receipt_xiapeople!=null &amp;&amp;receipt_xiapeople!=''">
			and u.name like #{receipt_xiapeople}
		</if>
		<if test="receipt_startdate!=null &amp;&amp;receipt_startdate!=''">
			and t.date &gt;= #{receipt_startdate}
		</if>
		<if test="receipt_enddate!=null &amp;&amp;receipt_enddate!=''">
			and t.date &lt;= #{receipt_enddate}
		</if>
		ORDER BY t.date desc
		limit
		#{pageIndex},#{pageSize}
	</select>
	<select id="getCountByCondition" parameterType="java.util.Map"
		resultType="int">
		select count(1)
		from t_eliminate e left join t_flawstaff ins on
		e.id=ins.eliminateId
		left join t_task t on e.taskId=t.id
		left join
		t_user u on t.taskMan=u.id
		left join t_systemparam p on t.state=p.id
		where t.type='消缺任务'
		<!-- and p.id !=4 and p.id !=8 -->
		<if test="operate == 'eliminate'">
			and t.state not in (SELECT id FROM t_systemparam where
			settingid
			=
			(select id FROM t_systemsetting
			WHERE coding='Task_STATE'
			AND
			delete_flag='否' AND state='启用')
			AND settingName='待分配' OR
			settingName='已取消')
			<if test="coding=='line_staff'">
				AND e.mid=#{userid}
			</if>
			<if test="coding=='es_flaw'">
				and ins.userId=#{userid}
			</if>
			and ins.isReceipter='是'
		</if>

		<if test="receipt_taskcoding!=null &amp;&amp; receipt_taskcoding!=''">
			and t.coding like #{receipt_taskcoding}
		</if>
		<if test="receipt_bills!=null &amp;&amp;receipt_bills!=''">
			and e.workBills = #{receipt_bills}
		</if>
		<if test="receipt_xiapeople!=null &amp;&amp;receipt_xiapeople!=''">
			and u.name like #{receipt_xiapeople}
		</if>
		<if test="receipt_startdate!=null &amp;&amp;receipt_startdate!=''">
			and t.date &gt;= #{receipt_startdate}
		</if>
		<if test="receipt_enddate!=null &amp;&amp;receipt_enddate!=''">
			and t.date &lt;= #{receipt_enddate}
		</if>
	</select>
	<update id="execu_updateTaskstatus" parameterType="int">
		update t_task
		set
		state=6 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<select id="selectEliminateByUserId" parameterType="int"
		resultType="Flawstaff">
		select * from t_flawstaff where eliminateId =#{0} and
		userId = #{1}
	</select>
	<select id="selectRoleByUserId" parameterType="int" resultType="Systemrole">
		select * from t_role where id =(select roleId from t_user_role where
		userId = #{0})
	</select>
	<update id="update_receipte" parameterType="java.util.Map">
		update t_eliminate set
		taskCompletionDesc=#{taskCompletionDesc},extensionRecord=#{extensionRecord}
		,finalReport=#{finalReport} where id=#{eliminateId}
	</update>
	<update id="execu_updateTaskstatusAudit" parameterType="int">
		update
		t_task
		set
		state=46 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<select id="midflag" parameterType="int" resultType="Eliminate">
		select * from t_eliminate where id=#{0} and mid=#{1}
	</select>

	<select id="taskmanflag" parameterType="int" resultType="Task">
		select * from t_task where id = (select taskId from t_eliminate where
		id=#{0}) and taskMan=#{1}
	</select>
	<update id="update_fuze" parameterType="java.util.Map">
		update t_eliminate set
		taskfuzeUserIdea=#{fuze_receipte},taskPassed=#{pass_select}
		where id=#{fuze_save_eliminateId}
	</update>
	<update id="execu_updateTaskstatusSuccess" parameterType="int">
		update t_task
		set
		state=7 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<update id="execu_updateTaskstatusReturn" parameterType="int">
		update t_task
		set
		state=37 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<select id="selectTaskByeliminateId" parameterType="int"
		resultType="Task">
		select * from t_task where id = (select taskId from t_eliminate where
		id=#{0})
	</select>
	<update id="updateActualDate" parameterType="java.util.Map">
		update t_task set actualDate=#{date} where id in(select taskId from
		t_eliminate where
		id=#{eliminateId})
	</update>
	<update id="update_xiafa" parameterType="java.util.Map">
		update t_eliminate set taskxiafaUserIdea=#{xiafa_receipte} where
		id=#{eliminateId}
	</update>
	<update id="update_all" parameterType="java.util.Map">
		update t_eliminate set
		taskxiafaUserIdea=#{all_xiafa_receipte},taskfuzeUserIdea=#{all_fuze_receipte},taskPassed=#{all_pass_select}
		where id=#{all_save_eliminateId}
	</update>
	<update id="update_allocated" parameterType="int">
		update t_task
		set
		state=5 where id in (select taskId from t_eliminate where
		id=#{0})
	</update>
	<select id="existUserById" parameterType="int" resultType="User">
		select * from t_user where id in (select userId from t_flawstaff where
		eliminateId =#{0})
	</select>
	<delete id="removethis" parameterType="java.util.Map">
		delete from t_flawstaff where eliminateId=#{eliminateId} and
		userId=#{userId}
	</delete>

	<select id="select_update_wait" parameterType="int"
		resultType="com.znsd.circuit.util.UpdateWait">
		select DISTINCT e.id,e.workbills,e.taskId,e.mid
		,t.coding,t.name,t.description,t.remark
		,u.name as fuzeName
		from t_eliminate e ,t_task t,t_user u
		where e.taskId=t.id and e.mid=u.id and e.id=#{0}
	</select>
	<delete id="delete_record" parameterType="int">
	delete from t_eliminate_record where yetid=#{0}
	</delete>
	<select id="update_EliminateBytaskId" parameterType="int" resultMap="MyFlawMap">
	SELECT f.id, h.coding as threadCoding,w.coding as towerCoding,s.settingName
		as flawGrade
		,wa.`name` as flawType,f.discoverDate as
		findDate,f.flawDesc as flawDesc,tu.name as findUser
		FROM t_flawconfirm
		f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower
		w,t_systemparam s,t_flaw wa,t_user tu
		WHERE f.id=r.yetid AND
		r.xtaskid=e.taskId AND r.xtaskid=a.id AND
		h.id=f.threadId AND
		wa.id=f.flawId
		AND f.towerId=w.id AND s.id=f.flawGrade and
		f.userId=tu.id and
		r.xtaskid=#{0}
	</select>
	<insert id="insertintoRecord" parameterType="int">
	insert into t_eliminate_record(xtaskid,yetid) values(#{0},#{1});
	</insert>
	<update id="updateEliminate" parameterType="java.util.Map">
	update t_eliminate set workBills=#{workBills},mid=#{taskMan} where id=#{eliminateId}
	</update>
	<update id="updateTask" parameterType="java.util.Map">
	update t_task set coding=#{update_taskcoding},name=#{update_taskname},
	description=#{update_taskDesc},remark=#{update_taskRemark} where id=#{taskid}
	</update>
</mapper>