<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.EliminateQueryDao">

	<select id="selectEliminayeQuery" parameterType="java.util.Map"
		resultType="EliminateQuery">
		SELECT t.coding t_coding,s.settingName t_type, l.workBills
		t_bills,ea.coding t_number,
		tw.coding tower_coding, sy.settingName
		flaw_rank, aw.`name` flaw_type,
		us.`name` finder,
		mm.discoverDate
		find_time,er.`name` issue,t.date issue_time,mm.serviceAbility
		intact_rate,mm.flawDesc flaw_describe
		FROM t_task t INNER JOIN
		t_eliminate_record rd ON t.id=rd.xtaskid
		INNER JOIN t_flawconfirm mm ON
		mm.id=rd.yetid
		iNNER JOIN t_systemparam s ON t.state=s.id INNER JOIN
		t_eliminate l ON
		l.taskId=t.id
		INNER JOIN t_thread ea ON
		ea.id=mm.threadId INNER JOIN t_tower tw ON
		tw.id=mm.towerId
		INNER JOIN
		t_user er ON t.taskMan=er.id
		INNER JOIN t_flaw aw ON aw.id=mm.flawId
		INNER JOIN t_systemparam sy ON sy.id=mm.flawGrade
		INNER JOIN t_user us
		ON us.id=mm.userId
		WHERE t.type='消缺任务'
		<if test="tacoding!=null &amp;&amp; tacoding!=''">
			AND t.coding LIKE #{tacoding}
		</if>
		<if test="workbills!=null &amp;&amp;workbills!='' ">
			AND aw.name LIKE #{workbills}
		</if>
		<if test="taskstatus!=null &amp;&amp;taskstatus!='' ">
			AND s.settingName LIKE #{taskstatus}
		</if>
		<if test="xiajibie!=null &amp;&amp; xiajibie!='' ">
			AND sy.settingName LIKE #{xiajibie}
		</if>
		<if test="startdate!=null &amp;&amp; startdate!='' ">
		   AND mm.discoverDate &gt;= #{startdate}
		</if>
		<if test="enddate!=null &amp;&amp; enddate!=''">
		   AND mm.discoverDate &lt;= #{enddate}
		</if>
		<if test="fxstatus!=null &amp;&amp; fxstatus!='' ">
		   AND t.date &gt;= #{fxstatus}
		</if>
		<if test="fxend!=null &amp;&amp; fxend!=''">
		   AND t.date &lt;= #{fxend}
		</if>
		limit #{pageIndex},#{pageSize}
	</select>

	<select id="getEQueryCount" resultType="int">
		SELECT COUNT(1)
		FROM
		t_task t,t_eliminate_record rd,t_flawconfirm mm WHERE t.type='消缺任务'
		AND t.id=rd.xtaskid AND mm.id=rd.yetid
	</select>
	
	<select id="selectFlawName" parameterType="java.util.List" 
	resultType="Flaw">
	SELECT id,name FROM t_flaw
	</select>
</mapper>