<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.FlawDao">
	
	
	<select id="getFlawAll" resultType="Flaw" parameterType="Map">
		SELECT `name` as name,state FROM t_flaw
	</select>
	
	<select id="getFlawPageCount" resultType="int">
		SELECT COUNT(1) FROM t_flaw;
	</select>
	
	<select id="getFlawPage" resultType="Flaw" parameterType="Map">
		SELECT `name` as name,state FROM t_flaw LIMIT #{pageIndex},#{pageSize};
	</select>
	
	<select id="flawadd" resultType="Flaw">
		insert into t_flaw 
		(name,state,createdBy,createdDate,updatedBy,updatedDate,delete_flag,remark) values
		(#{name},#{state},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate},#{delete_flag},#{remark})
	</select>
	
</mapper>