<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.HomeDao">
    <select id="selectAllPower" resultType="Power" parameterType="Integer">
        select DISTINCT id,text,state,url,iconCls,nid
		from t_power p
		where p.nid=#{nid}
    </select>
    
    <select id="login" resultType="User" parameterType="Map">
        select u.id,u.userName,u.`passWord`,u.`name`,r.id roleId,r.`name` roleName,u.sex,u.age,u.entryDate,u.leaveDate,u.phone,u.email,u.loginDate,u.state from t_user u
		LEFT JOIN t_user_role ur
		on u.id=ur.userId
		LEFT JOIN t_role r
		on ur.roleId=r.id
		where u.userName=#{userName} and u.`password`=#{passWord}
    </select>
    
    <update id="loginDate" parameterType="Map"> 
        update t_user u set u.loginDate=#{time}
        where u.id=#{id}
    </update>
</mapper>