<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.InspectionDao">
	<select id="getInspectionParam" resultType="Systemparam">
		SELECT id,settingName
		FROM t_systemparam where
		settingid
		= (select id FROM t_systemsetting
		WHERE coding='INSPECTION_STATE' AND
		delete_flag='否' AND state='启用')
	</select>
	<select id="getAllThread" resultType="Thread">
		
	</select>
	<select id="getInspectionPageCount" resultType="Integer">
		SELECT
		count(1)
		from t_inspection i
		INNER JOIN t_task t ON i.taskId=t.id
		INNER JOIN t_thread th ON i.threadId=th.id
		INNER JOIN t_user u on t.createdBy=u.id
		INNER JOIN t_systemparam sy on
		t.state=sy.id
		WHERE t.type='巡检任务'
	</select>
	<select id="getInspectionPage" resultType="Inspection"
		parameterType="Map">
		SELECT
		i.id,t.coding,t.name,th.name as thread,th.startTower,th.endTower,u.userName as creater,t.date as createDate,sy.settingName as state,t.actualDate,t.delete_flag
		from t_inspection i
		INNER JOIN t_task t ON i.taskId=t.id
		INNER JOIN t_thread th ON i.threadId=th.id
		INNER JOIN t_user u on t.createdBy=u.id
		INNER JOIN t_systemparam sy on
		t.state=sy.id
		WHERE t.type='巡检任务'
		LIMIT #{pageIndex},#{pageSize}
	</select>
</mapper>