<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.znsd.circuit.dao.PersonalworkDao">
 
     <insert id="arriveWork" parameterType="Personalwork">
         insert into t_backlog (name,taskId,userId,backDate,isAccomplish) values (#{personalwork.name},#{personalwork.taskId},#{personalwork.userId},#{personalwork.backDate},#{personalwork.isAccomplish})
     </insert>
     
     <select id="selectMyWork"  parameterType="java.util.Map" resultType="Personalwork">
         select t.name,k.type,t.taskId,t.userId,t.backDate,t.isAccomplish from t_backlog t inner join t_task k on t.taskId = k.id
        where t.isAccomplish=#{isAccomplish} AND t.userId=#{userId}
         order by t.id desc  limit #{page},#{rows}
     </select>
     
     <select id="getTaskTowerFlawInfo" parameterType="int" resultType="Flawconfirm">
         select tfr.taskId,tt.id as towerId,tt.coding as towerCoding,th.id as threadId,th.name as threadName,tk.taskMan
		 from t_flaw_record tfr inner join 
		t_flawconfirm tf on tfr.flawconfirmId = tf.id
		inner join t_tower tt on tf.towerId = tt.id
		inner join t_thread th on tf.threadId = th.id
		inner join t_task tk on tfr.taskId = tk.id
		where tfr.receiptState=1 and tf.confirmState=1
		and tfr.taskId=#{taskId}
     </select>
     
     
     <select id="getWorkTotal"  parameterType="java.util.Map" resultType="int">
         select count(1) from t_backlog t
         where t.isAccomplish=#{isAccomplish} AND t.userId=#{userId}
     </select>
 </mapper>