<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.RoleConfigDao">

  <select id="getRoles" resultType="Systemrole">
         select tr.id,tr.coding,tr.`name`,tr.state,tr.createBy,tr.createDate,tr.updatedBy,tr.updatedDate from t_role tr
		where tr.delete_flag='否' and tr.state='0' and tr.name!='系统管理员'
  </select>
  
    <select id="selectAllPower" resultType="Power" parameterType="Integer">
        select DISTINCT id,text,state,url,iconCls,nid
		from t_power p
		where p.nid=#{nid} AND p.delete_flag='否' 
    </select>
    
    <insert id="addPowerMenu" parameterType="Power" useGeneratedKeys="true" keyProperty="id">
         insert into t_power (text,state,url,iconCls,nid,status,createBy,createDate,updatedDate,delete_flag,remark) values (#{text},#{state},#{url},#{iconCls},#{nid},#{status},#{createBy},#{createDate},#{updatedDate},#{deleteFlag},#{remark})
    </insert>
    
    <select id="getRolePowersById" parameterType="int" resultType="Power">
        select p.id,p.text,p.state,p.url,p.iconCls,p.nid from t_role r 
		inner join t_role_power rp  on r.id = rp.roleId
		inner join t_power p on rp.powerId = p.id
		where r.id=#{roleId}
    </select>
    
    <insert id="addPowerByRole" parameterType="java.util.List">
           insert into t_role_power (roleId,powerId,createDate,updatedDate,delete_flag) values 
          <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.roleId},#{item.powerId},#{item.createDate},#{item.updatedDate},#{item.deleteFlag})  
	    </foreach> 
    </insert>
    
    <select id="checkPowerText" parameterType="Power" resultType="Power">
        select  id,text,state,url,iconCls,nid
		from t_power p
		where p.nid=#{nid} AND text=#{text} AND p.delete_flag='否'
    </select>
    
    <update id="setPowerState" parameterType="Power"> 
         update t_power set state=#{state} where id=#{id} 
    </update>
    
    <select id="getPowerMenuById" parameterType="int" resultType="Power">
        select  id,text,state,url,iconCls,nid,status
		from t_power p
		where id=#{id}  AND p.delete_flag='否'
    </select>
    <update id="updatePowerMenu" parameterType="Power" >
          update t_power set text=#{text},state=#{state},url=#{url},status=#{status} where id=#{id}
    </update>
    
    <update id="deletePowerMenu" parameterType="int">
        update t_power set delete_flag='是' where id=#{id}
    </update>
    
    <delete id="deletePowerByRoleId" parameterType="int">
       delete from t_role_power where roleId = #{roleId}
    </delete>
    
    
</mapper>