<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.SystemUserDao">
    <select id="systemUserCount" resultType="int">
        select count(1) from t_user where delete_flag='否'
    </select>
    
    <select id="listSystemUser" resultType="User" parameterType="map">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否'
		GROUP BY id
		order by id desc
		limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="selectSysteUser" resultType="SystemRole">
        select id,coding,`name`,state,createBy,updatedDate from t_role
    </select>
    
    <select id="queryUserNameSysteUser" resultType="User" parameterType="String">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.userName=#{userName}
    </select>
    
    <select id="queryNameSysteUser" resultType="User" parameterType="String">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.`name`=#{name}
    </select>
    
    <insert id="add" parameterType="User">
        insert into t_user (userName,`passWord`,`name`,entryDate,createBy,createDate) values(#{userName},#{passWord},#{name},#{entryDate},#{createBy},#{createDate})
    </insert>
    
    <insert id="addRoleId" parameterType="Map">
        insert into t_user_role (userId,roleId) values (#{userId},#{roleId})
    </insert>
    
    <select id="queryUserName" parameterType="String" resultType="User">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.userName=#{userName}
    </select>
    
    <update id="freezeSysteUser" parameterType="map">
        update t_user set state=#{newState},updatedBy=#{updatedBy},updatedDate=#{updatedDate} where id=#{id}
    </update>
    
    <select id="IdSysteUser" parameterType="int" resultType="User">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.id=#{id}
    </select>
    
    <select id="queryUserNameSysteUser2" resultType="User" parameterType="map">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.userName=#{userName} and tu.id != #{id}
    </select>
    
    <select id="queryNameSysteUser2" resultType="User" parameterType="map">
        select tu.id,tu.userName,tu.`password`,tu.`name`,tr.id as roleId,tr.`name` as roleName,tu.entryDate,tu.leaveDate,tu.email,tu.loginDate,tu.state from t_user tu
		LEFT JOIN t_user_role tur
		on tu.id=tur.userId
		LEFT JOIN t_role tr
		on tur.roleId=tr.id
		where tu.delete_flag='否' and tu.`name`=#{name} and tu.id != #{id}
    </select>
    
    <update id="update" parameterType="user">
        update t_user set userName=#{userName},passWord=#{passWord},name=#{name},entryDate=#{entryDate},leaveDate=#{leaveDate},updatedBy=#{updatedBy},updatedDate=#{updatedDate} where id=#{id} 
    </update>
    
    <update id="addRoleId2" parameterType="Map">
        update t_user_role set roleId=#{roleId} where userId=#{userId}
    </update>
    
    <update id="delete" parameterType="int">
        update t_user set delete_flag='是' where id=#{id}
    </update>
</mapper>