<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znsd.circuit.dao.TaskEliminateDao">
	<select id="selectEliminate" parameterType="java.util.Map"
		resultType="TaskEliminate">
		SELECT distinct a.coding tcoding,a.`name` tename,h.coding
		ethreadCoding,h.startTower
		estartTower,
		h.endTower tendTower
		FROM
		t_flawconfirm f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower w,t_systemparam s,t_flaw wa
		WHERE f.id=r.yetid AND
		r.xtaskid=e.taskId AND r.xtaskid=a.id AND
		h.id=f.threadId AND
		wa.id=f.flawId
		AND f.towerId=w.id AND s.id=f.flawGrade AND a.actualDate
		is NOT NULL AND f.confirmstate=0
		<if test="rent!=null &amp;&amp; rent!=''">
			AND a.coding LIKE #{rent}
		</if>
		<if test="cont!=null &amp;&amp; cont!=''">
			AND h.coding LIKE #{cont}
		</if>
		limit #{pageIndex},#{pageSize}
	</select>

	<select id="selectElCount" resultType="int">
		SELECT
		COUNT(DISTINCT(a.coding))
		FROM t_flawconfirm f,t_eliminate_record
		r,t_eliminate e,t_task a,t_thread
		h,t_tower w,t_systemparam s,t_flaw wa
		WHERE f.id=r.yetid AND r.xtaskid=e.taskId AND r.xtaskid=a.id AND
		h.id=f.threadId AND wa.id=f.flawId
		AND f.towerId=w.id AND
		s.id=f.flawGrade AND a.actualDate is NOT NULL
	</select>

	<select id="selectElCoding" resultType="TaskEliminate">
		SELECT distinct a.coding
		tcoding,a.`name` tename,h.coding ethreadCoding
		FROM t_flawconfirm
		f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower
		w,t_systemparam s,t_flaw wa
		WHERE f.id=r.yetid AND r.xtaskid=e.taskId
		AND r.xtaskid=a.id AND
		h.id=f.threadId AND wa.id=f.flawId
		AND
		f.towerId=w.id AND s.id=f.flawGrade AND a.actualDate is NOT NULL 
	</select>

	<select id="selectElTower" parameterType="java.util.Map"
		resultType="TaskEliminate">
		SELECT w.coding etowerCoding,f.isTrouble
		eisTrouble,s.settingName
		esettingName
		,wa.`name`
		eflawTname,a.actualDate
		eactualDate,f.discoverDate
		ediscoverDate,f.flawDesc eflawDesc
		FROM
		t_flawconfirm
		f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower
		w,t_systemparam s,t_flaw wa
		WHERE f.id=r.yetid AND
		r.xtaskid=e.taskId
		AND r.xtaskid=a.id AND
		h.id=f.threadId AND
		wa.id=f.flawId
		AND
		f.towerId=w.id AND s.id=f.flawGrade AND a.actualDate
		is NOT NULL AND
		a.coding=#{tcoding} AND f.confirmstate=0
		<if test="gant!=null &amp;&amp; gant!=''">
			AND w.coding LIKE #{gant}
		</if>
		<if test="quex!=null &amp;&amp; quex!=''">
			AND s.settingName LIKE #{quex}
		</if>
		<if test="ist!=null &amp;&amp; ist!=''">
			AND f.isTrouble LIKE #{ist}
		</if>
		<if test="start!=null &amp;&amp; start!=''">
		AND a.actualDate &gt;= #{start}
		</if>
		<if test="entt!=null &amp;&amp; entt!='' ">
		AND a.actualDate &lt;= #{entt}
		</if>
		ORDER BY a.actualDate DESC
		LIMIT
		#{pageIndex},#{pageSize}
	</select>

	<select id="getselTowerCount" resultType="int">
		SELECT COUNT(1)
		FROM
		t_flawconfirm f,t_eliminate_record r,t_eliminate e,t_task a,t_thread
		h,t_tower w,t_systemparam s,t_flaw wa
		WHERE f.id=r.yetid AND
		r.xtaskid=e.taskId AND r.xtaskid=a.id AND
		h.id=f.threadId AND
		wa.id=f.flawId
		AND f.towerId=w.id AND s.id=f.flawGrade AND a.actualDate
		is NOT NULL AND
		a.coding=#{tcoding}
	</select>
</mapper>