<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.znsd.circuit.dao.ThreadDao">
    <select  id="pageSelectThread" parameterType="java.util.Map"  resultType="Threads">
          select t.id,t.coding,t.name,t.lineId,l.name as lineName,t.length,t.return_way as returnWay,
          t.rank,t.startTower,t.endTower,t.redix,t.state,t.runningState from t_thread t inner join t_line l on t.lineId = l.id 
           where t.lineId = #{thread.lineId}
           <if test="thread.coding!=null and thread.coding!=''">
              and t.coding=#{line.coding}
           </if>
           <if test="thread.runningState > 0">
              and t.runningState = #{runningState}
           </if>
           order by t.id desc limit #{page},#{row}
    </select>
    
    
    <select  id="pageThreadTotal" parameterType="java.util.Map"  resultType="int">
          select count(1) from t_thread t
           where t.lineId = #{thread.lineId}
           <if test="thread.coding!=null and thread.coding!=''">
              and t.coding=#{line.coding}
           </if>
           <if test="thread.runningState > 0">
              and t.runningState = #{runningState}
           </if>
    </select>
</mapper>